.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(13, 13, 13, 0.6);
    /* semi-transparent */
    backdrop-filter: blur(12px);
    /* blur efek kaca */
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Poppins', sans-serif;
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    box-shadow: 4px 4px 25px rgba(255, 255, 255, 0.1);
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navLinks li {
    list-style: none;
}

.navLinks li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.navLinks li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.navLinks li a:hover::after {
    width: 100%;
}