/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/devPage/DevPage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.DevPage_container__ozoe1 {
    padding: 2rem;
    background-color: #f7f7f7;
    text-align: center;
}

.DevPage_title__iWLDi {
    color: #e63946;
    font-size: 2rem;
    font-weight: bold;
}
